<nav class="menu">
    <div class="container">
            <div class="menu__left">
               <h2>
                ShoeShop
               </h2> 
            </div>

            <div class="menu__center">
                <a href="" class="btn">
                    <i class='bx bx-home-smile'></i>Home
                </a>

                <a href="" class="btn">
                    <i class='bx bx-search-alt-2'></i>Explore
                </a>

                <a href="" class="btn">
                    <i class='bx bx-plus-circle' ></i>Create
                </a>
            </div>

            <div class="menu__right">
                <a href="" class="btn">
                    <i class='bx bx-user' ></i>Login
                </a>
                <a href="" class="btn">
                    <i class='bx bx-user-plus' ></i>Sign up
                </a>                    
            </div>
    </div>

</nav>